<div id="web-map" class="box-sh">
    <h3>Web sayt xaritasi</h3>
    <ul class="nav nav-tabs text-center">
        <li class="nav-item">
            <button class="nav-link" aria-current="page" role="button" href="#" id="nav1">Kengash kotibiati</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" id="nav2">Kengashga saylangan deputatlar</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" id="nav3">Kengash Doimiy komissiyalari</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav4">Tuman va shaxar kengashi kotibiati</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav5">Tuman va shaxar kengashi doimiy komisialari</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav6">Deputatlar faoliati</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav7">Kengash hujjatlari</button>
        </li>
    </ul>
    <div class="map">
        <div class="map-tab">
            <p>
                <ul>
                    <li>
                        <a href="#">Tashkil Topishi</a>
                    </li>
                    <li>
                        <a href="#">Faoliati</a>
                    </li>
                </ul>
            </p>
        </div>
        <div class="map-tab">
            <p>
                Tab2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum error esse ex iure natus, nesciunt omnis quae quia recusandae rem repudiandae ut veniam voluptatem!
            </p>
        </div>
        <div class="map-tab">
            <p>
                Tab3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum error esse ex iure natus, nesciunt omnis quae quia recusandae rem repudiandae ut veniam voluptatem!
            </p>
        </div>
        <div class="map-tab">
            <p>
                Tab4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum error esse ex iure natus, nesciunt omnis quae quia recusandae rem repudiandae ut veniam voluptatem!
            </p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".map-tab:first").show();
        $("#web-map li:first").addClass("active");
        $("#web-map li").click(function(event){
            index = $(this).index();
            $("#web-map li").removeClass("active");
            $(this).addClass("active");
            $(".map-tab").hide();
            $(".map-tab").eq(index).show();
        });
    })
</script>