<div id="web-map" class="box-sh">
    <h3>Web sayt xaritasi</h3>
    <ul class="nav nav-tabs text-center">
        <li class="nav-item">
            <button class="nav-link" aria-current="page" role="button" href="#" id="nav1">Kengash kotibiati</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" id="nav2">Kengashga saylangan deputatlar</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" id="nav3">Kengash Doimiy komissiyalari</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav4">Tuman va shaxar kengashi kotibiati</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav5">Tuman va shaxar kengashi doimiy komisialari</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav6">Deputatlar faoliati</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" aria-current="page" role="button" tabindex="-1" id="nav7">Kengash hujjatlari</button>
        </li>
    </ul>
    <div class="map">
        <ul class="map-tab">
            <li>
                <a href="#">Tashkil Topishi</a>
            </li>
            <li>
                <a href="#">Faoliati</a>
            </li>
        </ul>
        <ul class="map-tab">
            {% for i in deputat %}
                <li>
                    <a href="{% url 'app:AX' %}">{{ i.f_name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="map-tab">
            {% for i in komissia %}
                <li>
                    <a href="{% url 'app:DK' pk=i.pk %}">{{ i.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="map-tab">
            {% for i in tum %}
                <li>
                    <a href="{% url 'app:TX' pk=i.pk %}">{{ i.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="map-tab">
            {% for i in list %}
                <li>
                    <a href="{% url 'app:None' %}">Something</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="map-tab">
            {% for i in list %}
                <li>
                    <a href="{% url 'app:None' %}">Something</a>
                </li>
            {% endfor %}
        </ul>
        <ul class="map-tab">
            <li>
                <a href="{% url 'app:WP' %}">Ish reja</a>
            </li>
            {% for i in list %}
                <li>
                    <a href="{% url 'app:None' %}">Something</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".map-tab:first").show();
        $("#web-map li:first").addClass("active");
        $("#web-map li").click(function(event){
            index = $(this).index();
            $("#web-map li").removeClass("active");
            $(this).addClass("active");
            $(".map-tab").hide();
            $(".map-tab").eq(index).show();
        });
    })
</script>