<div id="web-map" class="box-sh">
    <h3>Web sayt xaritasi</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link" aria-current="page" role="button" href="#" id="nav1">Lorem, ipsum dolor.</button>
        </li>
        <li class="nav-item dropdown">
            <button class="nav-link" href="#" aria-current="page" id="nav2">Lorem, ipsum dolor.</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" id="nav3">lorem</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" href="#" tabindex="-1" id="nav4">Disabled</button>
        </li>
    </ul>
    <div class="map">
        <ul id="map1">
            <li>
                <a href="#">1Lorem ipsum dolor sit amet.!
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
        </ul>
        <ul id="map2">
            <li>
                <a href="#">2Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
        </ul>
        <ul id="map3">
            <li>
                <a href="#">3Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
        </ul>
        <ul id="map4">
            <li>
                <a href="#">4Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
        </ul>
        <ul id="map5">
            <li>
                <a href="#">5Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
            <li>
                <a href="#">Lorem ipsum dolor sit amet.
                    <ol>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
                    </ol>
                </a>
            </li>
        </ul>
    </div>
</div>