{% load static %}
<footer class="bg-light py-4">
    <div class="main-box">
        <!-- <hr> -->
        <div class="row">
            <h2 class="ms-5 border-bottom py-3">Foydali manbalar </h2>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="{% static 'images/logo.svg' %}" width="70" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://president.uz/oz" target="_blank">O'zbekiston Respublikasi Prizenti Rasmiy veb sayti</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://my.gov.uz/img/new-version/logo.png" width="70" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://my.gov.uz/oz/" target="_blank">Yagona interaktiv davlat hizmatlari portali</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://parliament.gov.uz/upload/medialibrary/383/logo_small.png" width="120" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://parliament.gov.uz/uz/">O'zbekiston Respublikasi Oliy Majlis qonunchilik palatasi</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center" style="padding: 45px 40px;">
                    <div class="box-img my-4">
                        <img src="https://lex.uz/assets/img/lex_uz.svg" width="150" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://lex.uz/oz/">O'zbekiston Respublikasi Oliy Majlis qonunchilik palatasi</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center" style="padding: 45px 40px;">
                    <div class="box-img my-4">
                        <img src="https://sirdavaktiv.uz/front/img/logosite.png" width="150" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://davaktiv.uz/" target="_blank">Davlat activlarini boshqarish agentligi</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="{% static 'images/logo.svg' %}" width="70" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://constitution.uz/oz" target="_blank">O'zbekiston Respublikasi Konstituciyasi</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="{% static 'images/logo.svg' %}" width="70" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://www.senat.uz/uz" target="_blank">O'zbekiston Respublikasi Oliy Majlisi Senati rasmiy web sayti </a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="{% static 'images/soliqt.png' %}" width="70" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="https://soliq.uz/" target="_blank">O'zbekiston Respublikasi Davlat soliq qomitasi </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="py-3">
            <div class="text-center footer-span border-bottom">
                <span>Toshkent viloyati Deputatlar rasmiy web sayti &copy;2022 </span>
            </div>
        </div>
    </div>
</footer>
