<footer class="bg-light py-4">
    <div class="main-box">
        <!-- <hr> -->
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 my-3">
                <div class="box text-center">
                    <div class="box-img my-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Emblem_of_Uzbekistan.svg" width="50" class="img-fluid rounded-circule" alt="">
                    </div>
                    <div class="box-title">
                        <a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, accusamus.</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="py-3 foot">
            <div class="left2">
                <span>Toshkent viloyati Deputatlar <br> rasmiy web sayti &copy;2022 </span>
            </div>
            <div class="right2 text-end fs-3">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-telegram"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram-square"></i>
                </a>
            </div>
        </div>
    </div>
</footer>