{% extends '../index.html' %}
{% block title %}
    Doimiy komisia
{% endblock title %}

{% block content %}
    {% include '../header&navbar/navbar.html' %}
    <div class="main-box">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                <div class="sidebarnav">
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">Maxalliy budjet, iqsodiy isloxatlarni amlga oshirish, investitsalar va tadbirkorlik rivojlantirish masalalari boyicha doimiy komisia</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 mt-3">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-4">
                      <div class="col-img w-75 m-auto">
                          <img class="img-fluid" src="https://st2.depositphotos.com/3143277/8644/i/600/depositphotos_86446164-stock-photo-business-man-in-office.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-8">
                      <div class="col-body">
                        <div class="col-title">
                            <h1>Komisia Rayisi</h1>
                            <h2>Jhon Doe</h2>
                            <div class="border-bottom border-primary w-25">

                            </div>
                        </div>
                          <table class="table">
                              <tr>
                                  <td>lavozimi</td>
                                  <td>"YANGIYOL YOG'-MOY" AJ Iqsodiy masalalar boyicha mutaxasis</td>
                              </tr>
                              <tr>
                                <td>saylangan saylov okrugi</td>
                                <td>
                                  996335811
                                  <br>996335811
                                  <br>996335811
                                </td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
