{% extends "../index.html" %}
{% load static %}
{% block title %}
    Bosh sahifa
{% endblock title %}


{% block content %}
{% include '../header&navbar/navbar.html' %}
    <div class="main-box my-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-3 mt-3">
                {% include "../left_side/left_side.html" %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-6">
                <div class="card my-3 box-sh" style="width: 85%; margin: auto;">
                    <img src="{{ last_blog.image.url }}" height="380" class="card-img-top" alt="Img Test">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'app:BD' pk=last_blog.pk %}">
                                {{ last_blog.title }}
                            </a>
                        </h5>
                      <p class="card-text">
                          {{ last_blog.blog | slice:450 }}
                      </p>
                      <p class="card-text"><small class="text-muted">{{ last_blog.add_date }}</small></p>
                    </div>
                  </div>
                  <br><br>
                  <div class="title ms-3 bold fs-3">
                      <h4 class="fs-2">Eng oxirgi habarlar</h4>
                  </div>
                  <br><br>
                <div class="new">
                    {% for i in blogs %}
                        <div class="row m-auto">
                            <div class="card border-0 my-3 p-2 box-sh" style="width: 85%; margin: auto;">
                                <div class="row g-0">
                                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mt-2">
                                    <img src="{{ i.image.url }}" class="h-100 img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                                    <div class="card-body pt-0">
                                        <h5 class="card-title">
                                            <a href="{% url 'app:BD' pk=i.pk %}" class="">
                                                {{ i.title }}
                                            </a>
                                        </h5>
                                        <p class="card-text">
                                            {{ i.blog | slice:200 }}
                                        </p>
                                        <p class="card-text"><small class="text-muted">{{ i.add_date }}</small></p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    {% endfor %}
                </div>
                <div class="">
                    <p class="text-end">
                        <a href="{% url 'app:AB' %}">Boshqa yangiliklar >>></a>
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-3 my-3" id="vakant">
                <div class="row" id="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-10 m-auto" id="row-col">
                        {% for i in senator %}
                            {% if forloop.counter == 1 %}
                                <div class="card card-person box-sh senat is_active">
                            {% else %}
                                 <div class="card card-person box-sh senat">
                            {% endif %}
                                <div class="control">
                                    <span class="prev"><i class="fa-solid fa-arrow-left"></i></span>
                                    <span class="center">Senatorlar</span>
                                    <span class="next"><i class="fa-solid fa-arrow-right"></i></span>
                                </div>
                                <img src="{{ i.senat_img.url }}" width="200" height="500" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.f_name }}</h5>
                                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Tel nomer: {{ i.phone }}</li>
                                    <li class="list-group-item">Email: {{ i.email }}</li>
                                    <li class="list-group-item">faks: {{ i.faks }}</li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-12 mt-xxl-5">
                        <div class="card box-sh" style="width: 75%; margin: auto;">
                            <img src="{% static 'images/offer.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Biron taklifingiz bormi ?</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button type="button"  id="tkbtn" class="btn btn-primary">Taklif Jonatish</button>
                            </div>
                            </div>   
                        </div> 
                    </div>
                </div>
            </div>
            {% include "../xarita/web_map.html" %}
        </div>
    </div>
    <div id="comment" class="box-sh">
            <button type="button" class="border-0" id="tkexit"><i class="fa-solid fa-circle-xmark"></i></button>
            <h3 align="center" class="mb-5">Asslomu aleykum</h3>
            <h5 align="center">Taklif yoki shikoyatingizni qoldiring.</h5>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.f_name }}
<!--                    <input type="text" class="form-control" id="floatingInput1" placeholder="Akrom Akromov">-->
                    <label for="floatingInput1">To'liq Ismingiz ?</label>
                  </div>
                <div class="form-floating mb-3">
                    {{form.phone}}
<!--                    <input type="tel" class="form-control" id="floatingInput2" placeholder="332300701">-->
                    <label for="floatingInput2">Telefon raqamingiz ?</label>
                  </div>
                  <div class="form-floating">
                      {{form.subject}}
<!--                    <input type="text" class="form-control" id="floatingInput3" placeholder="Taklif">-->
                    <label for="floatingInput3">Taklif Mazmuni</label>
                  </div>
                  <br>
                  <div class="form-floating">
                      {{form.comment}}
<!--                    <textarea class="form-control" placeholder="Izohingizni qoldiring" id="floatingTextarea2" style="height: 100px"></textarea>-->
                    <label for="floatingTextarea2">Izoh</label>
                  </div>
                  <div class="d-grid gap-2 mt-3">
                        <input type="submit" value="Jo'natish" class="btn btn-outline-primary">
                  </div>
            </form>
        </div>
    {% include "../footer/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
            $(".next").on("click", function(){
                let nowCard = $(".is_active");
                let nextCard = nowCard.next();
                if(nextCard.length){
                    nowCard.removeClass("is_active").css('z-index', -10);
                    nextCard.addClass("is_active").css('z-index', 10);
                }
            });
            $(".prev").on("click", function(){
                let nowCard = $(".is_active");
                let prevCard = nowCard.prev();
                if(prevCard.length){
                    nowCard.removeClass("is_active").css('z-index', -10);
                    prevCard.addClass("is_active").css('z-index', 10);
                }
            })
        })
        </script>
{% endblock content %}