{% extends "../index.html" %}

{% block title %}
    Barcha deputatlar
{% endblock title %}

{% block content %}
    {% include "../header&navbar/navbar.html" %}
    <div class="main-box">
        <nav aria-label="breadcrumb" class="py-4 ms-5">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'app:Home' %}">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Deputatlar</li>
            </ol>
          </nav>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                {% include "../left_side/left_side.html" %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
              <!-- <hr> -->
                <div class="row box-sh py-3">
                    <div class="col-12 col-sm-12 col-md-4">
                        <div class="col-img w-75 m-auto">
                            <img class="img-fluid" src="https://st2.depositphotos.com/3143277/8644/i/600/depositphotos_86446164-stock-photo-business-man-in-office.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="col-body">
                          <div class="col-title">
                              <h4>uzliberal</h4>
                              <h2>Jhon Doe</h2>
                              <div class="border-bottom border-primary w-25">

                              </div>
                          </div>
                            <table class="table">
                                  <tr>
                                    <td class="w-25">Qaysi partiaga Azo</td>
                                    <td class="text-success">UzLiberal Partia</td>
                                  </tr>
                                  <tr>
                                      <td>tel nomeri</td>
                                      <td>996331474</td>
                                  </tr>
                                  <tr>
                                      <td>email</td>
                                      <td>admin@gmail.com</td>
                                  </tr>
                                  <tr>
                                      <td>faks</td>
                                      <td>9658964641</td>
                                  </tr>
                                  <tr>
                                      <td>maqsadi</td>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                  </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row box-sh py-3">
                    <div class="col-12 col-sm-12 col-md-4">
                        <div class="col-img w-75 m-auto">
                            <img class="img-fluid" src="https://st2.depositphotos.com/3143277/8644/i/600/depositphotos_86446164-stock-photo-business-man-in-office.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="col-body">
                          <div class="col-title">
                              <h4>uzliberal</h4>
                              <h2>Jhon Doe</h2>
                              <div class="border-bottom border-primary w-25">

                              </div>
                          </div>
                            <table class="table">
                                  <tr>
                                    <td class="w-25">Qaysi partiaga Azo</td>
                                    <td class="text-success">UzLiberal Partia</td>
                                  </tr>
                                  <tr>
                                      <td>tel nomeri</td>
                                      <td>996331474</td>
                                  </tr>
                                  <tr>
                                      <td>email</td>
                                      <td>admin@gmail.com</td>
                                  </tr>
                                  <tr>
                                      <td>faks</td>
                                      <td>9658964641</td>
                                  </tr>
                                  <tr>
                                      <td>maqsadi</td>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                  </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row box-sh py-3">
                    <div class="col-12 col-sm-12 col-md-4">
                        <div class="col-img w-75 m-auto">
                            <img class="img-fluid" src="https://st2.depositphotos.com/3143277/8644/i/600/depositphotos_86446164-stock-photo-business-man-in-office.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8">
                        <div class="col-body">
                          <div class="col-title">
                              <h4>uzliberal</h4>
                              <h2>Jhon Doe</h2>
                              <div class="border-bottom border-primary w-25">

                              </div>
                          </div>
                            <table class="table">
                                  <tr>
                                    <td class="w-25">Qaysi partiaga Azo</td>
                                    <td class="text-success">UzLiberal Partia</td>
                                  </tr>
                                  <tr>
                                      <td>tel nomeri</td>
                                      <td>996331474</td>
                                  </tr>
                                  <tr>
                                      <td>email</td>
                                      <td>admin@gmail.com</td>
                                  </tr>
                                  <tr>
                                      <td>faks</td>
                                      <td>9658964641</td>
                                  </tr>
                                  <tr>
                                      <td>maqsadi</td>
                                      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                                  </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    {% include "../footer/footer.html" %}
{% endblock content %}
