{% extends "../index.html" %}

{% block title %}
    Barcha deputatlar
{% endblock title %}

{% block content %}
    {% include "../header&navbar/navbar.html" %}
    <div class="main-box">
        <nav aria-label="breadcrumb" class="py-4 ms-5">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'app:Home' %}">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Deputatlar</li>
            </ol>
          </nav>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                {% include "../left_side/left_side.html" %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
              <!-- <hr> -->
                <h1 class="mb-3">Senatorlar</h1>
                <div class="row">
                {% for i in senator %}
                    <div class="col-12 col-xxl-4">
                        <div class="card box-sh" style="width: 100%;">
                            <img src="{{ i.senat_img.url }}" class="card-img-top" height="400" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
<!--                    <div class="row box-sh py-3">-->
<!--                        <div class="col-12 col-sm-12 col-md-4">-->
<!--                            <div class="col-img w-75 m-auto">-->
<!--                                <img class="img-fluid" src="{{ i.senat_img.url }}" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-12 col-sm-12 col-md-8">-->
<!--                            <div class="col-body">-->
<!--                              <div class="col-title">-->
<!--&lt;!&ndash;                                  <h4>uzliberal</h4>&ndash;&gt;-->
<!--                                  <h2>{{ i.f_name }}</h2>-->
<!--                                  <div class="border-bottom border-primary w-25">-->

<!--                                  </div>-->
<!--                              </div>-->
<!--                                <table class="table">-->
<!--                                      <tr>-->
<!--                                        <td class="w-25">Lavozimi</td>-->
<!--                                        <td class="text-success">Senator</td>-->
<!--                                      </tr>-->
<!--                                      <tr>-->
<!--                                          <td>Telefon nomeri</td>-->
<!--                                          <td>+998 {{ i.phone }}</td>-->
<!--                                      </tr>-->
<!--                                      <tr>-->
<!--                                          <td>E-pochta</td>-->
<!--                                          <td>{{ i.email }}</td>-->
<!--                                      </tr>-->
<!--                                      <tr>-->
<!--                                          <td>Faks</td>-->
<!--                                          <td>{{ i.faks }}</td>-->
<!--                                      </tr>-->
<!--&lt;!&ndash;                                      <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                                          <td>maqsadi</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>&ndash;&gt;-->
<!--&lt;!&ndash;                                      </tr>&ndash;&gt;-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr>-->
                <h1 class="my-3">Deputatlar</h1>
                {% for i in deputat %}
                    <div class="row box-sh py-3">
                        <div class="col-12 col-sm-12 col-md-4">
                            <div class="col-img w-75 m-auto">
                                <img class="img-fluid" src="{{ i.image.url }}" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-8">
                            <div class="col-body">
                              <div class="col-title">
                                  <h4>{{ i.partia }}</h4>
                                  <h2>{{ i.f_name }}</h2>
                                  <div class="border-bottom border-primary w-25">

                                  </div>
                              </div>
                                <table class="table">
                                      <tr>
                                        <td class="w-25">Qaysi partiaga Azo</td>
                                        <td class="text-success">{{ i.partia }}</td>
                                      </tr>
                                      <tr>
                                          <td>Telefon nomeri</td>
                                          <td>{{ i.phone }}</td>
                                      </tr>
                                      <tr>
                                          <td>E-pochta</td>
                                          <td>{{ i.email }}</td>
                                      </tr>
                                      <tr>
                                          <td>Faks</td>
                                          <td>{{ i.faks }}</td>
                                      </tr>
<!--                                      <tr>-->
<!--                                          <td>maqsadi</td>-->
<!--                                          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>-->
<!--                                      </tr>-->
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

            </div>
        </div>
    </div>
    {% include "../footer/footer.html" %}
{% endblock content %}
