<input type="checkbox" id="chk">
<div id="social">  
    <ul>
        <li>
            Facebook
            <a href="#"><i class="fa-brands fa-facebook text-info"></i></a>
        </li>

        <li>
            Instagram
            <a href="#"><i class="fa-brands fa-instagram text-danger"></i></a>
        </li>

        <li>
            Telegram
            <a href="#"><i class="fa-brands fa-telegram text-info"></i></a>
        </li>

        <li>
            Youtube
            <a href="#"><i class="fa-brands fa-youtube text-danger"></i></a>
        </li>
    </ul>
    <label for="chk">
        <i class="fa-solid fa-ellipsis"></i>
    </label>
</div>

<div id="top">
    <a href="#"><i class="fa-solid fa-arrows-up-to-line"></i></a>
</div>