*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}
.brand{
    width: 50%;
    float: left;
    overflow: hidden;
    /* border: 2px solid darkblue; */
}
.img{
    width: 30%;
    float: left;
    text-align: right;
}
.name{
    width: 70%;
    float: right;
    text-align: center;
    margin-top: 20px;
}
.name span{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.contact{
    width: 50%;
    float: right;
    margin-top: 15px;
    text-align: right;
    /* border: 2px solid darkblue; */
}
.contact span{
    color: brown;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
	padding: 10px 0;
	background-color: rgba(50,50,50,0.6);
}
ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
ul li{
	list-style-type: none;
	display: inline-block;
}
.dropbtn{
	color: white;
	padding: 12px 20px;
	font-size: 18px;	
    /* border: none; */
    /* background-color: rgba(50,50,50,0.6); */
	text-decoration: none;
}
.dropbtn:hover{
    color: white;
    background-color: #333;
}
.all-links{
	display: none;
	position: absolute;
	background-color: #ccc;
	z-index: 1;	
    width: 60%;
    left: 20%;
    text-align: left;
    overflow: hidden;
}
.all-links a{
	color: #000;
	display: block;	
	padding: 10px 20px;
	text-decoration: none;
}
.hoverdrop:hover .all-links{
	display: table;
}
.all-links a:hover{
	background-color: #999;
}
.footer{
    padding: 0 20px;
    text-align: center;
}
.left, .center, .right{
    display: inline-block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.card ul li {
    padding: 10px 15px;
    text-align: justify;
}













