*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #555;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    text-align: justify;
}
.main-box{
    width: 85%;
    margin: auto;
}
.header{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    /* border: 1px solid rebeccapurple; */

}
.brand{
    width: 50%;
    float: left;
    overflow: hidden;
}
.img{
    width: 16%;
    float: left;
    margin-left: 1%;
    /* text-align: right; */
}
.name{
    width: 79%;
    float: right;
    text-align: justify;
    margin-top: 20px;
}
.name span{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.contact{
    width: 50%;
    float: right;
    /* margin-top: 15px; */
    text-align: right;
    /* border: 2px solid darkblue; */
}
.contact b{
    color: #123456;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact span{
    color: #123456;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbarsExample05 ul{
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
#navbarsExample05 ul li{
    /* width: 13%; */
    margin-right: 10px;
	list-style-type: none;
	/* display: inline-table; */
    /* border: 1px solid rebeccapurple; */
}
.dropbtn{
	color: white;
	/* padding: 12px 20px; */
	font-size: 14px;
    font-family: sans-serif;
    /* border: 1px solid blueviolet; */
}
.dropbtn:hover{
    text-decoration: none;
    color: white;
    /* background-color: #444; */
}
.all-links{
	display: none;
	position: absolute;
	background-color: rgba(55, 55, 55, 0.7);
	z-index: 1;	
    width: 80%;
    left: 10%;
    /* top: 24%; */
    /* top: 30px; */
    text-align: left;
    overflow: hidden;
}
.all-links a{
    width: 100%;
	color: #fff;
	display: block;	
    font-size: 14px;
	padding: 10px 20px;
	text-decoration: none;
    /* border: 1px solid red; */
}
.hoverdrop:hover .all-links{
	display: table;
}
.all-links a:hover{
	background-color: #999;
}
.footer{
    padding: 0 20px;
    text-align: center;
}
.left, .center, .right{
    display: inline-block;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: right;
}
.left1, .center1, .right1{
    width: 33%;
    text-align: center;
    display: inline-table;
}





